### Python ###
*.pyc
__pycache__/
*.egg-info/
.venv/
venv/
.pytest_cache/

### Project ###
.env
data/
*.db
*.sqlite
*.sqlite3

### Editor / OS ###
.vscode/
.idea/
.DS_Store

### Git/Linux ###
*.orig
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
